@use '../../scss/breakPoints' as *;

.movie__list {
    .swiper-slide {
        width: 15%;
        
        @include tablet {
            width: 30%;
        }
    
        @include mobile {
            width: 45%;
        }
    }

}